* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color-base-white: #FFFFFF;
  --color-base-gray-100: #F5F5F5;
  --color-base-gray-300: #8D8D99;
  --color-base-gray-500: #3D3D3D;
  --color-base-gray-900: #202024;
}

html, body, input{
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

header,
nav,
nav ul{
  background-color: var(--color-base-white);
  display: flex;
  align-items: center;
  gap: 7.2rem;
}

nav ul{
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
  font-weight: 700;
}

nav ul .active{
  color: var(--color-base-gray-900);
}

.input-wrapper label{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input{
  width: 100%;
  padding: 1.6rem;

  background-color: var(--color-base-gray-100);
  border-radius: .6rem;
  border: 0;

  font-size: 1.6rem;
  font-weight: 600;
  opacity: .56;

}

.input-wrapper input::placeholder{
  color: var(--color-base-gray-500);
}

.avatar{
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

header form{
  flex: 1;
}

#app{
  display: grid;
  /* deixa o header para ir crescendo conforme o conteudo, o main 1fr e o footer também*/
  grid-template-rows: max-content 1fr max-content; 
  height: 100vh;
}

.container{
  /* cria um bloco para o conteúdo e também, faz o conteúdo ficar sempre centralizado e com um maximo de 112rem 
  o conteúdo é centralizado com a tag margin*/
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

main{
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  background-color: var(--color-base-gray-100)
}

main::-webkit-scrollbar {
  display: none;
}


footer p{
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}