* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color-base-white: #FFFFFF;
  --color-base-gray-100: #F5F5F5;
  --color-base-gray-300: #8D8D99;
  --color-base-gray-500: #3D3D3D;
  --color-base-gray-900: #202024;
}

html, body, input{
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

header,
nav,
nav ul{
  background-color: var(--color-base-white);
  display: flex;
  align-items: center;
  gap: 7.2rem;
}

nav ul{
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
  font-weight: 700;
}

nav ul .active{
  color: var(--color-base-gray-900);
}

.input-wrapper label{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input{
  width: 100%;
  padding: 1.6rem;

  background-color: var(--color-base-gray-100);
  border-radius: .6rem;
  border: 0;

  font-size: 1.6rem;
  font-weight: 600;
  opacity: .56;

}

.input-wrapper input::placeholder{
  color: var(--color-base-gray-500);
}

.avatar{
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

header form{
  flex: 1;
}

#app{
  display: grid;
  /* deixa o header para ir crescendo conforme o conteudo, o main 1fr e o footer também*/
  grid-template-rows: max-content 1fr max-content; 
  height: 100vh;
}

.container{
  /* cria um bloco para o conteúdo e também, faz o conteúdo ficar sempre centralizado e com um maximo de 112rem 
  o conteúdo é centralizado com a tag margin*/
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

main{
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  background-color: var(--color-base-gray-100)
}

main::-webkit-scrollbar {
  display: none;
}

/* Galeria */

main h1{
  padding-top: 1.6rem;
  font-size: 2.4rem;
}

.gallery{
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2.2rem;
  grid-column-gap: 2.8rem;
}

.item{
  border-radius: .8rem;
  overflow: hidden;

  background-color: var(--color-base-white);
}

.item img{
  width: 100%;
  /* manter sempre a proporção correta conf. projeto */
  aspect-ratio: 16/9;
  object-fit: cover;

  transition: all 200ms ease-out;
  display: block;

  /* transição 
  transition-property: transform, filter;
  transition-duration: 300ms;
  transition-delay: 0;
  transition-timing-function: ease-out;
  */
}

.item img:hover{
  cursor: pointer; 
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-2deg);
}

.datails{
  padding: 2.2rem;
  background-color: var(--color-base-white);
  z-index: 1;
  position: relative;
}

.datails h2{
  font-size: 1.8rem;
}

.tags{
  margin-top: 1rem;
}

.tags span{
  padding: .6rem;
  background-color: var(--color-base-gray-100);
  border-radius: .4rem;

  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer p{
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}